*{
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}


.form-transform{
  display: flex;
  height: 700px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-transform h1{
  margin-bottom: 5rem;
}

.form-transform * {  
  margin: 10px;
}